.Header {
	background-color: whitesmoke;
}

.text-center {
    padding-top: 40px;
    font-size: 1em;
}

.header_title {
	font-size: 2em;
	font-weight: 900;
	margin-bottom: 30px;
}

.header_text {
	color: #6a6969;
	line-height: 1.4;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.add {
    background: transparent;
    font-size: 40px;
    margin-top: 10px;
    transition: all .5s ease-in-out;
	outline: 0;
}

.add:hover {
	color: #EF5350;
	outline: 0;
}

.add:focus, .add:active {
	outline: 0;
}

button, button:hover, button:active, button:focus {
	outline: 0 !important;
}